:root{
    --primary_color: #F97316;
    --black:#27272A;
    --width-break:600px;
}
*{
    box-sizing: border-box;
}

body{
    
    margin: 0;
    padding:1rem;
}
nav{
    background-color: var(--primary_color);
    text-align: center;
    display: block;
    margin: 2rem;
}

main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea{
    box-sizing: border-box;
    width: 100%;
    min-height:20vh;
    display:block;
    margin-top:2rem;
    font-size: large;
    align-items: center;
    font-family: inherit;
}


button{
    
    background-color: var(--primary_color);
    border: nonr;
    margin: 1rem 0rem;
    padding:1rem 2rem;
    font-size: large;
}


#translate-output{
    box-sizing: border-box;
    border:1px solid black;
    min-height:10vh;
    max-height: 20vh;
    width:100%;
    overflow: scroll;
    border: 1px solid var(--black);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:1rem;
    background-color: var(--primary_color);
    text-align:center;
}
footer p{
    max-width: var(--width-break);
}